/* You can add global styles to this file, and also import other style files */
img{
    width: 100px;
    height: 100px;
}

a {
    display: inline-block;
    width: 250px;
}

.lbl {
    display: inline-block;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
}



.btn {
    display: inline-block;
    width: 85px;
    margin-top: 10px;
    margin-left: 136px;
}

.btn-search {
    display: inline-block;
    margin-left: 10px;
}